{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "max-len": [
            2,
            {
                "code": 180,
                "tabWidth": 2,
                "ignoreUrls": true,
                "ignoreComments": true
            }
        ],
        "no-await-in-loop": 0,
        "no-restricted-syntax": 0,
        "prefer-destructuring": 0,
        "no-console": "error",
        "linebreak-style": [
            "error",
            "unix"
        ],
        "import/prefer-default-export": 0,
        "implicit-arrow-linebreak": 0,
        "no-plusplus": "off"
    }
}